@model IEnumerable<AutoShop.Models.Order>

@{
    ViewBag.Title = "ShowAllOrders";
}

<h2>ShowAllOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
